$phone-bp: 410px;
$phone-lg-bp: 576px;
$tablet-bp: 768px;
$tablet-lg-bp: 1024px;
$desktop-bp: 1280px;
$desktop-lg-bp: 1440px;
$desktop-xl-bp: 1920px;

@mixin phone-sm {
  @media screen and (max-width: #{$phone-bp}) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: #{$phone-lg-bp}) {
    @content;
  }
}

@mixin phone-lg {
  @media screen and (max-width: #{$tablet-bp}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-lg-bp}) {
    @content;
  }
}


@mixin desktop {
  @media screen and (min-width: #{$desktop-bp}) {
    @content;
  }
}



@mixin desktop-only {
  @media screen and (min-width: #{$tablet-lg-bp}) {
    @content;
  }
}


@mixin desktop-sm {
  @media screen and (max-width: #{$desktop-bp}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop-lg-bp}) {
    @content;
  }
}

@mixin desktop-lg {
  @media screen and (max-width: #{$desktop-xl-bp}) {
    @content;
  }
}
