.container {
  margin: 0 auto;
  padding: 0 15rem;

  @include phone {
    max-width: 380rem;
  }

  @include phone-lg {
    max-width: 640rem;
  }

  @include tablet {
    max-width: 1360rem;
    padding: 0;
  }
}
